//-
  Copyright 2017-present, Facebook, Inc. All rights reserved.

  This source code is licensed under the license found in the
  LICENSE file in the root directory of fbsamples/messenger-bot-samples.

extends layout
block head
   - var title = 'Log In'
block content
  div(class='main row')
    div(class='column')
      div(class='header')
        h2 Log In
      div(class='subtitle')
        p The demo username is “dav